# settings
BASE_URL = "https://sdo.1580.ru"
LOGIN_URL = f"{BASE_URL}/login/index.php"
QUIZ_URL = "https://sdo.1580.ru/mod/quiz/attempt.php?..." # link to the page with the testing system
COOKIE_FILE = "session.pkl" 

USERNAME = "..." # login sdo
PASSWORD = "..." # password sdo
